name: EKS changes promote from Dev to Stage

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:

env:
  tf_version: 'latest'
  tg_version: 'latest'
  GIT_SSH_COMMAND: "echo '${{ secrets.INFRASTRUCTURE_MODULES_PRIVATEKEY_DEV }}' > id_rsa  && ssh-keyscan github.com > known_hosts && chmod 600 id_rsa known_hosts  && ssh -i ./id_rsa -o UserKnownHostsFile=./known_hosts"

jobs:
  deploy_dev:
    environment: dev
    name: 'Deploy to dev'
    runs-on: ubuntu-latest
    steps:

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.TF_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.TF_AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # OR "2" -> To retrieve the preceding commit.

    - name: Get changed files in the docs folder
      id: changed-files-specific
      uses: tj-actions/changed-files@v40
      with:
        files: _env/dev.hcl # Alternatively using: `docs/**`
        files_ignore: _env/stage.hcl

    - name: List all changed files
      # NOTE: `since_last_remote_commit: true` is implied by default and falls back to the previous local commit.

      run: |
        for file in ${{ steps.changed-files-specific.outputs.all_changed_files }}; do
          echo "$file was changed"
        done



    #- uses: dorny/paths-filter@v2
    #  id: changes
    #  with:
    #    filters: |
    #      stage:
    #        - '_env/dev.hcl'
    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt init
      if: steps.changed-files.outputs.src_any_changed == 'false'
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'init'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./dev

    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt validate
      if: steps.changed-files-specific.outputs.any_changed == 'true'
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'validate'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./dev



  #      - uses: the-commons-project/terragrunt-github-actions@master
  #        name: Terragrunt apply
  #        with: 
  #          tf_actions_version: ${{ env.tf_version }}
  #          tg_actions_version: ${{ env.tg_version }}
  #          tf_actions_binary: 'terragrunt run-all'
  #          tf_actions_subcommand: 'apply'
  #          tf_actions_comment: false
  #          args: --terragrunt-working-dir ${{ env.tf_working_dir  }} --terragrunt-non-interactive



  deploy_stage:
    environment: staging
    env:
      GIT_SSH_COMMAND: "echo '${{ secrets.INFRASTRUCTURE_MODULES_PRIVATEKEY_STAGE }}' > id_rsa  && ssh-keyscan github.com > known_hosts && chmod 600 id_rsa known_hosts  && ssh -i ./id_rsa -o UserKnownHostsFile=./known_hosts"

    name: 'Deploy to stage'
    needs: deploy_dev
    runs-on: ubuntu-latest
    steps:

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.TF_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.TF_AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Checkout PR
      env:
          GITHUB_TOKEN: ${{ secrets.PRIVATEGIT_TOKEN }}
      run: gh pr checkout ${{ github.event.pull_request.number }}

    - name: Update the stage enviornment values as per dev
      run: "cd _env\nif ! cmp -s dev.hcl stage.hcl ; \nthen cp dev.hcl stage.hcl \nfi\n  #magic___^_^___line\n  #magic___^_^___line\n"

    - name: Push changes
      env:
       GITHUB_TOKEN: ${{ secrets.PRIVATEGIT_TOKEN }}
      run: git push


    - name: Get changed files in the docs folder
      id: changed-files-specific
      uses: tj-actions/changed-files@v40
      with:
        files: _env/stage.hcl # Alternatively using: `docs/**`
        files_ignore: _env/dev.hcl

        # NOTE: `since_last_remote_commit: true` is implied by default and falls back to the previous local commit.

    - name: List all changed files
      run: |
        for file in ${{ steps.changed-files-specific.outputs.all_changed_files }}; do
          echo "$file was changed"
        done

      # Outputs: "Changed files: new.txt test_directory/new.txt"

      # - uses: dorny/paths-filter@v2
      #   id: changes
      #   with:
      #     filters: |
      #       stage:
      #           - '_env/stage.hcl'

    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt init
      if: ${{ steps.changes.outputs.stage == 'false' }}
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'init'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./staging

    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt validate
      if: steps.changed-files-specific.outputs.any_changed == 'true'
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'validate'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./staging

#      - uses: the-commons-project/terragrunt-github-actions@master
#        name: Terragrunt apply
#        with: 
#          tf_actions_version: ${{ env.tf_version }}
#          tg_actions_version: ${{ env.tg_version }}
#          tf_actions_binary: 'terragrunt run-all'
#          tf_actions_subcommand: 'apply'
#          tf_actions_comment: false
#          args: --terragrunt-working-dir ${{ env.tf_working_dir  }} --terragrunt-non-interactive 


