name: AWS-EKS-DEPLOY

on:
  pull_request:
    branches:
    - main
    paths:
    - 'dev/**'
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Select an environment to continue
        options:
        - dev
        - staging

env:
  tf_version: 'latest'
  tg_version: 'latest'
  GIT_SSH_COMMAND: "echo '${{ secrets.INFRASTRUCTURE_MODULES_PRIVATEKEY_DEV }}' > id_rsa  && ssh-keyscan github.com > known_hosts && chmod 600 id_rsa known_hosts  && ssh -i ./id_rsa -o UserKnownHostsFile=./known_hosts"

jobs:
  deploy_dev:
    environment: dev
    name: 'Deploy to dev'
    runs-on: ubuntu-latest
    steps:
    - uses: webfactory/ssh-agent@v0.7.0 # this action will configure git to use the right SSH key per each repository. 
      with:
        ssh-private-key: |
          ${{ secrets.INFRASTRUCTURE_MODULES_PRIVATEKEY_DEV}}
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive # this is important not to forget

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.TF_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.TF_AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          dev:
              - '_env/dev.hcl'

    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt init
      if: ${{ steps.changes.outputs.dev == 'false' }}
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'init'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./dev

    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt validate
      if: ${{ steps.changes.outputs.dev == 'true' }}
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'validate'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./dev

  #      - uses: the-commons-project/terragrunt-github-actions@master
  #        name: Terragrunt apply
  #        with: 
  #          tf_actions_version: ${{ env.tf_version }}
  #          tg_actions_version: ${{ env.tg_version }}
  #          tf_actions_binary: 'terragrunt run-all'
  #          tf_actions_subcommand: 'apply'
  #          tf_actions_comment: false
  #          args: --terragrunt-working-dir ${{ env.tf_working_dir  }} --terragrunt-non-interactive

  deploy_stage:
    environment: stage
    name: 'Deploy to stage'
    needs: deploy_dev
    runs-on: ubuntu-latest
    steps:
    - uses: webfactory/ssh-agent@v0.7.0 # this action will configure git to use the right SSH key per each repository. 
      with:
        ssh-private-key: |
          ${{ secrets.INFRASTRUCTURE_MODULES_PRIVATEKEY_STAGE}}

    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive # this is important not to forget

    - name: Update the stage enviornment values as per dev
      run: |
        cd _env
        cp dev.hcl stage.hcl
        sed -i 's/"dev"/"stage"/g' stage.hcl

    - name: Commit the changes made
      run: |
        git config --global user.name 'mohit-verma-1688'
        git config --global user.email 'mohitverma160288@gmail.com'
        git commit -am "update to the env file from the workflow"
        git push

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.TF_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.TF_AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1


    - uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          stage:
              - '_env/stage.hcl'

    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt init
      if: ${{ steps.changes.outputs.stage == 'false' }}
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'init'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./staging

    - uses: the-commons-project/terragrunt-github-actions@master
      name: Terragrunt validate
      if: ${{ steps.changes.outputs.stage == 'true' }}
      with:
        tf_actions_version: ${{ env.tf_version }}
        tg_actions_version: ${{ env.tg_version }}
        tf_actions_binary: 'terragrunt run-all'
        tf_actions_subcommand: 'validate'
        tf_actions_comment: false
        args: --terragrunt-working-dir ./staging

#      - uses: the-commons-project/terragrunt-github-actions@master
#        name: Terragrunt apply
#        with: 
#          tf_actions_version: ${{ env.tf_version }}
#          tg_actions_version: ${{ env.tg_version }}
#          tf_actions_binary: 'terragrunt run-all'
#          tf_actions_subcommand: 'apply'
#          tf_actions_comment: false
#          args: --terragrunt-working-dir ${{ env.tf_working_dir  }} --terragrunt-non-interactive 


